@using PagedList.Mvc;
@using PagedList;
@model IPagedList<Ith.Domain.Entities.Post>

@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>



@if (Model != null && Model.Any())
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].SubjectId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].StateId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].DateAdd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].DateEdit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].UserId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEdit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>


        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
            new PagedListRenderOptions()
            {
                Display = PagedListDisplayMode.IfNeeded,
                UlElementClasses =  new List<string>(){ "uk-pagination", "uk-flex-center" },
                MaximumPageNumbersToDisplay = 5,
                DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                LinkToPreviousPageFormat = "<span uk-pagination-previous></span>",
                LinkToNextPageFormat = "<span uk-pagination-next></span>",
                DisplayLinkToLastPage = PagedListDisplayMode.Never
            })
        }
        else
        {

        <div class="uk-width-1-1">
            <div class="uk-text-center uk-card-body">
                <h2>Жодного запиту не створено.</h2>
                <a href="@Url.Action("Create", "Consult")" class="uk-button uk-button-danger uk-button-large">новий запит</a>.
            </div>
        </div>

        }





       