@model IEnumerable<Ith.Domain.Entities.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Registration", "Register", "Account")
    @Html.ActionLink("Posts", "Index", "Post")
    @Html.ActionLink("EditUser", "Edit", "Account")
    @Html.ActionLink("DelUser", "Delete", "Account")
    @Html.ActionLink("Roles", "Index", "Role")
    @Html.ActionLink("Adminka", "Users", "Admin")

    @Html.ActionLink("Reset pass", "ForgotPassword", "Account")

    @Html.ActionLink("ChangePassword", "ChangePassword", "Manage")

    @Html.ActionLink("ForgotPassword", "ForgotPassword", "Account")

</p>

